# encoding=utf8

# 12306 账号
USER_ACCOUNTS = [
    {
        'user_name': '',
        'password': ''
    }
]

# 查询任务
QUERY_JOBS = [
    {
        'left_dates': [  # 出发日期 :Array
            "2019-01-24",
            "2019-01-25",
            "2019-01-26",
            "2019-01-27",
            "2019-01-28"
        ],
        'stations': {  # 车站 :Dict
            'left': '广州',
            'arrive': '达州',
        },
        'members': [
            '1'
        ],
        'allow_less_member': 0,
        'seats': [  # 筛选座位  有先后顺序 :Array
            '硬卧',
            '硬座'
        ],
        'train_numbers': [  # 筛选车次
            "K1096",
            "K814",
            "K356",
            "K1172",
            "K4184"
        ]

    },

    {
        'left_dates': [  # 出发日期 :Array
            "2019-01-24",
            "2019-01-25",
            "2019-01-26",
            "2019-01-27",
            "2019-01-28"
        ],
        'stations': {  # 车站 :Dict
            'left': '广州',
            'arrive': '达州',
        },
        'members': [
            '1'
        ],
        'allow_less_member': 0,
        'seats': [  # 筛选座位  有先后顺序 :Array
            '硬卧',
            '硬座'
        ],
        'train_numbers': [  # 筛选车次
            "K1096",
            "K814",
            "K356",
            "K1172",
            "K4184"
        ]

    }
]
