[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
toml = "*"
redis = "*"
tortoise-orm = "==0.15.4"
aiohttp = "*"
aioredis = "*"
aiomysql = "*"

[requires]
python_version = "3.6"
