-i http://mirrors.aliyun.com/pypi/simple/  --trusted-host mirrors.aliyun.com
appdirs==1.4.3
beautifulsoup4==4.7.0
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cssselect==1.0.3
fake-useragent==0.1.11
Flask==1.0.2
Flask-JWT-Extended==3.15.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.0
MarkupSafe==1.1.0
parse==1.9.0
pyee==5.0.0
PyJWT==1.7.1
pyppeteer==0.0.25
pyquery==1.4.0
redis==3.0.1
requests==2.21.0
requests-html==0.9.0
six==1.12.0
soupsieve==1.6.2
tqdm==4.28.1
urllib3==1.24.1
w3lib==1.19.0
websockets==7.0
Werkzeug==0.15.3
DingtalkChatbot==1.3.0
lightpush==0.1.3
